In [50]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys

dm = pd.read_csv('athlete_events.csv')

#Print all missing values in the dataset

#print(df.isnull().sum())

#Filling missing values of Age, Height and Weight by calculating mean of theier respective coloumns

mis_col = ['Age', 'Height', 'Weight']
for col in mis_col:
    dm[col] = dm[col].fillna(np.mean(dm[col]))
    dm[col] = np.round(dm[col],0)

#dm

#Dropping all data of players who haven't won any medal

a1 = dm.dropna(subset=['Medal'])

#Creating 3 seperate csv files after filtering and cleaning data as 
###refined database, summer olympic db, winter olympic db

a1.to_csv("rd1.csv", index = False)
df = pd.read_csv('rd1.csv')	
#print(df)

a2 = df[df['Season']=='Summer']
a2.to_csv("summer.csv",index = False)
# ds = pd.read_csv('summer.csv')
#print(ds)

a3 = df[df['Season']=='Winter']
a3.to_csv('winter.csv', index = False)
# dw = pd.read_csv('winter.csv')
#print(dw)

In [67]:
##Question -- medal stats for each Sport

cmedals = df.groupby('Sport', as_index = True).agg({'Medal':'count'})
#print(cmedals.sort_values('Medal',ascending = False))


#NOC and Team Duplicates

#print(df.loc[:,['NOC','Team']].drop_duplicates()['NOC'].value_counts().head())


#which country has most no of medals

a= df.groupby(['NOC'], as_index = True).agg({'Medal':'count'})
maxmedals = a.sort_values(['Medal'], ascending = False)

#grouping medals by sport

b = df.groupby(['Sport','NOC'], as_index = True).agg({'Medal':'count'})
medalbysport = b.sort_values(['Sport','Medal'], ascending = False)

#top 10 countries with most no of medals

t = df.groupby(['Sport'], as_index = True).agg({'Medal':'count'})
top10 = t.sort_values('Medal', ascending=False).head(10)

#print(maxmedals)
#print(medalbysport)
#print(top10)




#Country with most no of medals in a specific sport
# top = df.groupby(['Sport','NOC'], as_index = True)['Sport'].agg({'Medal':'count'}).sort_values(['Medal'], ascending = False)
# print(top)
######find unique######
top = df.groupby(['Sport','NOC']).agg({'Medal':'count'}).sort_values(['Medal'], ascending = False)
#top.groupby('Sport')['NOC'].first()
top.groupby(['Sport']).groups.keys()

dict_keys(['Aeronautics', 'Alpine Skiing', 'Alpinism', 'Archery', 'Art Competitions', 'Athletics', 'Badminton', 'Baseball', 'Basketball', 'Basque Pelota', 'Beach Volleyball', 'Biathlon', 'Bobsleigh', 'Boxing', 'Canoeing', 'Cricket', 'Croquet', 'Cross Country Skiing', 'Curling', 'Cycling', 'Diving', 'Equestrianism', 'Fencing', 'Figure Skating', 'Football', 'Freestyle Skiing', 'Golf', 'Gymnastics', 'Handball', 'Hockey', 'Ice Hockey', 'Jeu De Paume', 'Judo', 'Lacrosse', 'Luge', 'Military Ski Patrol', 'Modern Pentathlon', 'Motorboating', 'Nordic Combined', 'Polo', 'Racquets', 'Rhythmic Gymnastics', 'Roque', 'Rowing', 'Rugby', 'Rugby Sevens', 'Sailing', 'Shooting', 'Short Track Speed Skating', 'Skeleton', 'Ski Jumping', 'Snowboarding', 'Softball', 'Speed Skating', 'Swimming', 'Synchronized Swimming', 'Table Tennis', 'Taekwondo', 'Tennis', 'Trampolining', 'Triathlon', 'Tug-Of-War', 'Volleyball', 'Water Polo', 'Weightlifting', 'Wrestling'])

In [66]:
#No of events for each Game
#summer
yearsplit = df.sort_values(['Year','Season'],ascending = False)
z = yearsplit[['Sport','Event']]
eventsplit = z.groupby(['Sport'], as_index = True).agg({'Event':'nunique'}).sort_values('Event',ascending =False)
eventsplit.head(5)

           Event
Sport
Athletics     83
Shooting      82
Swimming      55
Cycling       44
Sailing       37

In [52]:
#top medal winning countries in last 25 years 

yearsplit = df[df['Year'].between(1990,2016, inclusive = True)].sort_values(['Year','Season'],ascending = False)
top25c = yearsplit.groupby(['NOC'], as_index = True).agg({'Medal':'count'}).sort_values('Medal', ascending = False).head(10)
print(top25c)

     Medal
NOC
USA   2181
GER   1268
RUS   1148
AUS    889
CHN    863
CAN    742
ITA    602
FRA    582
GBR    564
NED    519

In [ ]:
#######################################################

 #   JUNK      #
    
#top10.iloc[:,] 
#top10['Athletics','Swimming','Rowing','Gymnastics','Fencing','Football','Hockey','Wrestling','Cycling','Sailing']
#a = z.groupby(['Sport','NOC'])['Medal'].count()
# a.to_csv('sport.csv', header = 'Sport''NOC''Medal').
# sp = read_csv('sport.csv')
#z = ds[['NOC', 'Sport', 'Medal']].copy()
#z.sort_values('NOC')
# n = z.groupby(['Sport','NOC'], as_index = True)['Medal'].count()
# type(n)
#m = n.nlargest(50)
#m
#m['NOC'].sort()
# n.to_csv('sport.csv', header = 'Sport''NOC''Medal')
# sp = pd.read_csv('sport.csv').
# sp

# n = z.groupby(['Sport', 'NOC'], as_index = True).agg({'Medal':'count'})
# n.sort_values(['Medal'], ascending=False)
# n
#sportevents.to_csv('sport.csv', header = 'Sport''NOC''Medal')
#sp = pd.read_csv('sport.csv')

# k = n.groupby(['Sport'])['Medal'].nlargest(5)
# k

# for name, group in medalbysport.groupby('Sport'): 
#      print(name)
#      print(group)


###############################################################